<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Moosaik</title>
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
<header>
  <h1><img src="img/moosaik-logo.png" alt="logo" height="50px">Moosaik<img src="img/moosaik-logo.png" alt="logo" height="50px"></h1>
</header>
<main>
  <article>
    <h2>Project name: <%= project.name %></h2>
    <p>Released on: <%= project._id.getTimestamp().toDateString() %></p>
    <a href="img/mosaics/mosaic_<%= project.id %>.png"><img src="img/mosaics/mosaic_<%= project.id %>.png" id="mozaic" alt="Here you should see a wonderful mozaïc" width="500px" target="_blank"></a>
    <h4>Original file:</h4>
    <a href="originals/<%= project.original %>"><img src="originals/<%= project.original %>" alt="original file" width="250px" target="_blank"></a><br>
    Credit: <%= project.original_credit%>
    <h4>Keyword: #<%= project.keyword %></h4>
    <p>Contribute to this project sharing pictures on <a href="https://twitter.com">Twitter</a> using this keyword!</p>
  </article>

  <aside>
    <h3>stats</h3>
    <%= contributors.length %> contributors
    <ul>
      <% contributors.forEach(function(contributor){ %>
      <li><%= contributor %></li>
      <% }); %>
    </ul>
  </aside>
</main>

</body>
<script>
  var img = "img/mozaic_<%= project.id %>.png"
</script>
<script src="js/app.js"></script>
</html>